@keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  .loadingContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loadingSpinner {
    font-size: 64px;
    animation: spin 1s linear infinite;
  }

  .loadingSpinner__message_wrapper{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
  }

  .loadingSpinner__message{
    display: block;
    padding: 10px 0;
    color: rgba(128, 128, 128, 1);
  }