.relative {
    position: relative
  }

  .avatar_circle {
    width: 1em;
    height: 1em;
    line-height: 1em;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
  }

  .white{
    background-color: white;
  }